/**
 ********************************
 * _ICONS.SCSS
 ********************************
 */


%mejs-icon {
  font-family: "mejs-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
