@charset "UTF-8";

$font-family: Raleway, Arial, Verdana, serif;

@import 'border-radius.scss';
@import 'mejs-icons.scss';
@import 'icons.scss';
@import 'video.scss';
@import 'audio.scss';
@import 'playlist.scss';

.mejs__container {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
}

.mejs__time-float {
    background: #000;
    border: solid 1px #000;
    color: #FFF;
    @include border-radius(3px);
}

.mejs__time-float-corner {
    border: solid 5px #000;
    border-color: #000 transparent transparent;
}

.mejs__button > button:focus {
    outline: none;
}
