@charset "UTF-8";


/* Make it move */
@keyframes marquee {
    0%   {left: -10%;}
    50%  {left: 0%;}
    100% {left: 10%;}
}
@-webkit-keyframes marquee {
    0%   {left: -10%;}
    50%  {left: 0%;}
    100% {left: 10%;}
}

.audio-wrapper * {
	outline: none !important;
}
.audio-wrapper 
{
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 5px auto 10px auto;
	padding: 10px 0;
	border: none;
	outline: none;
	position: relative;
	background: #F3F5F7;
	border: 1px solid #029AE3;

	/* music name in top */
	h2 {
		font-family: $font-family;
		font-size: 13px;
		line-height: 13px;
		height: 16px;
		margin: 5px 0 10px 20px;
		padding: 1px;
		color: #000;
		width: 58%;
		overflow: hidden;
		position: relative;
		cursor: help;

		strong {
			font-weight: normal;
			white-space: nowrap;
			width: 100%;
			position: absolute;
			-webkit-animation-name: marquee; /* Safari 4.0 - 8.0 */
			-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
			-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
			-webkit-animation-direction: alternate-reverse; /* Safari 4.0 - 8.0 */
			animation-name: marquee;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
		}
		strong:hover {
			animation-play-state: paused;
		}
	}

	/* player music controls */
	.mejs__controls:not([style*="display: none"]) {
		background: #F3F5F7;
	}

	.mejs__playpause-button {
		width: 35px;
		height: 35px; 
		text-align: center;
		@include border-radius(35px);
		background: #029AE3;
		overflow: hidden;
		margin-left: 10px;

		button {
			margin-left: 8px;
			margin-top: 8px;
		}
	}

   .mejs__time {
		color: #000;
		box-sizing: content-box;
		font-size: 12px;
		height: 24px;
		overflow: hidden;
		padding: 16px 6px 0;
		text-align: center;
		width: auto;
		position: absolute;
		right: 0;
		top: 0;
		margin-top: -40px;
		margin-right: 20px;
	}

   /* volume scrubber bar */
   .mejs__controls {

		/* barra com o time do audio */
		.mejs__time-rail {
			-webkit-box-flex: 0;
			-webkit-flex-grow: 0;
			-ms-flex-positive: 0;
			flex-grow: 0;
			height: 40px;
			margin: 0 -17px 0 25px;
			padding-top: 10px;
			position: relative;
			width: 55%;
		}

    	div.mejs__horizontal__volume-slider {
			position: absolute;
			top: 13px;
			right: 15px;
			cursor: pointer;
		}

		.mejs__horizontal-volume-slider .mejs__horizontal-volume-total {
			height: 10px;
			border: 1px solid #565860; 
			background: #565860; 
			@include border-radius(6px);
		}

		.mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
			position: absolute;
			width: 0;
			height: 8px;
			top: 0;
			left: 1px;
			background: #F3F5F7;
			@include border-radius(6px);
		}

		/* time scrubber bar */
		.mejs__time-rail .mejs__time-current {
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			background: rgb(8, 126, 236);
			@include border-radius(6px);
		}

		.mejs__time-rail .mejs__time-loaded {
			background: #7b7d82;
			@include border-radius(6px);
		}

		.mejs__time-rail .mejs__time-total { 
			background: #565860; 
			@include border-radius(6px);
			width: 80%;
		}

		.mejs__time-handle {
			left: -9px;
			width: 18px;
			height: 18px;
			@include border-radius(18px);
			background: #F3F5F7;
			top: -4px;
			cursor: pointer;
			display: block;
			position: absolute;
			z-index: 4;
			border: 1px solid #9B9B9B;
			opacity: 1;
		}
		.mejs__time-handle-content {
			display: none !important;
			visibility: hidden;
		}
		.mejs__time-hovered {
			z-index: 1;
		}
   }
}