@charset "UTF-8";

.video-wrapper {
	display: inline-block;
	@include border-top-radius(5px);
	overflow: hidden;
    
    .mejs__controls:not([style*="display: none"]) {
        background: #F3F5F7;
        border-top: 1px solid #9B9B9B;
    }

    .mejs__time {
        color: #9B9B9B;
    }
}